@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

:root {
  --font-inter: "Inter", sans-serif;
  --search-background-col: #ffffff;
  --search-border: #e6e6e6;
  --header-background-col: #effcff;
  --color-black: black;
  --color-grey: #999;
}

header {
  background-color: var(--header-background-col);
  max-height: 1500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.first-nav {
  display: flex;
  justify-content: space-between;
  margin: 32px 35px;
}

.fnav-title span {
  font-size: 25px;
  font-weight: bold;
  font-family: var(--font-inter);
}

.fnav-items {
  display: flex;
  align-items: center;
  gap: 35px;
}

.search-bar {
  width: 333px;
  height: 20px;
  background-color: var(--search-background-col);
  padding: 8px 16px;
  border: 1px solid var(--search-border);
  border-radius: 40px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.search-bar input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 14px;
  color: var(--color-black);
}

.search-bar input::placeholder {
  color: var(--color-grey);
}
